@import url('https://fonts.googleapis.com/css?family=Raleway:300');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:600');



*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation{
  width: 60px;
  height: 60px;
  position: fixed;
  right: 5px;
  top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
}

.navigation > div{
  width: 15px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.navigation > div > div{
  width: 20px;
  height: 3px;
  background: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation-pane {
  height: 100vh;
  width: 200px;
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #111;
  padding-top: 5vh;
  transform: translateX(200px);
  transition: all 0.5s ease-in-out;
}

.github-link{
  width: 60px;
  height: 60px;
  position: fixed;
  left: 5px;
  top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
}
.github-link > div{
  width: 15px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
}
.linkedin-link{
  width: 60px;
  height: 60px;
  position: fixed;
  left: 5px;
  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
    z-index: 10;
  border-radius: 50%;
}
.linkedin-link > div{
  width: 15px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
}
.instagram-link{
  width: 60px;
  height: 60px;
  position: fixed;
  right: 5px;
  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
}
.instagram-link > div{
  width: 15px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
}

.show-nav{
  transform: translateX(0px);
}

.navigation-pane > div{
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  display: flex;
    width: 100%;
    padding: 0 1.5rem;
}
.navigation-pane > div > div:first-child{
  font-size: 2rem;
  margin-bottom: 3rem;
  font-weight: lighter;
  width: 100%;
  text-align: right;
  cursor: pointer;

}
.navigation-pane > div > h2{
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: lighter;

}
.navigation-pane > div > div:last-child{
  font-size: 1rem;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  display: flex;
  width: 100%;
}
.navigation-pane > div > div:last-child > a{
  height: 25px;
  width: 100%;
  cursor: pointer;
  text-align: right;
  transition: all 0.4s ease;
  margin-top: 5px;
  margin-bottom: 5px;
}
.navigation-pane > div > div:last-child > a:hover{
  margin-right: 10px;
}

body{
  height: 100vh;
  background: #111;
  overflow: hidden;
  width: 100vw;
  font-family: 'Raleway', sans-serif;
  color: #ccc;
  position: relative;
  line-height: 2rem;
  z-index: 0;
  text-rendering: optimizeLegibility;
}



.vertical-panel{
  width: 100%;
  position: relative;
  background: transparent;
  z-index: 7;
  top: 0;
  transform: translateY(0);
  overflow: hidden;
  will-change: scroll-position, transform;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate3d(0,0,1px);
}
.panel-hd{
  width: 100vw;
  height: 100vh;
  position: relative;
  background: transparent;
  z-index: 7;
  overflow: hidden;
}

.panel-hd > div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.panel-hd > div:nth-child(1) {
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.panel-hd > div:nth-child(2) {
  background-color: rgba(0,0,0,0.7);
  z-index: 5;

}
.panel-hd > div:nth-child(3) {
  z-index: 4;
}

.panel-hd > div:nth-child(4) {
  left: calc(50% - 100px);
  top: calc(50% - 50vh);
  width: 200px;
  height: 100vh;
  overflow: hidden;
  z-index: 3;
}
.panel-hd > div:nth-child(4) > div {
  position: absolute;
  left: calc(-52vw + 100px);
  bottom: calc(-52vh + 50vh);
  width: 104vw;
  height: 104vh;
  background-image: url('../img/IMG_1497.jpg');
  filter: grayscale(1) contrast(120%) brightness(250%);
  z-index: 2;
  background-position: center;
  background-clip: border-box;
  background-size: cover;
}
.panel-hd > div:nth-child(5) {
  z-index: 2;
  left: -8vw;
  top: -8vh;
  width: 116vw;
  height: 116vh;
  background-image: url('../img/IMG_1497.jpg');
  filter: grayscale(1) blur(12px);
  background-position: center;
  background-clip: border-box;
  background-size: cover;

}


.lighter-text{
  color: #fff;
}
.name{
  font-size: 4rem;
  letter-spacing: 1rem;
  margin: 0;
  font-size: 4rem;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 1.3rem;
  margin: 0;
  line-height: 64px;
  text-align: center;
  text-transform: uppercase;
  margin-top: -4rem;
  color: #ccc;
}
.profession{
  font-size: 18px;
  margin-top: 10px;
}

.panel-white {
  background: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 20%;
  z-index: 1;
}

.work-white{
  background: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  color: #111;
  overflow-x: visible;
}
.arrow-left {
  font-size: 3rem;
  color: #ddd;
  height:100%;
  right: 0;
  top:-1.6rem;
  width: 10vw;
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-right > img{
  transform: rotateZ(90deg);
    width: 80px;
  filter: drop-shadow(0 0 1px black);
  cursor: pointer;
}
.arrow-right {
  font-size: 3rem;
  color: #ddd;
  height:100%;
  left: 0;
  top:-1.6rem;
  width: 10vw;
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
    cursor: pointer;
}
.arrow-left > img{
  width: 80px;
  transform: rotateZ(-90deg);
  filter: drop-shadow(0 0 1px black);
    cursor: pointer;
}
.hide-arrow{
  opacity: 0;
  pointer-events: none;
}

.work-panel-white{
  background: #fff;
  color: #111;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0vw;
  top: 0vw;
  height: 100vh;
  width: 100vw;
  overflow-x: visible;
  z-index: 1;
  will-change: transform;
    -webkit-transform: translate3d(0,0,1px);
  transition: all 0.5s ease-in-out;
}
.work-panel-white > div{
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-indicator{
  position: absolute;
  height: 40px !important;
  width: 180px !important;
  bottom: 10px !important;
  left: calc(50% - 90px) !important;
  color: #111;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}
.page-indicator > div{
  height: 15px;
  width: 15px;
  border: 1px solid currentColor;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.page-indicator > div.active{
  background: currentColor;
}
.page-indicator > div:hover{
  background: currentColor;
}
.work-panel-white  > div:nth-child(1) {
  left: 0;
}

.work-panel-white  > div:nth-child(2) {
  left: 100vw;
}
.work-panel-white  > div:nth-child(3) {
  left: 200vw;
}
.work-panel-white  > div:nth-child(4) {
  left: 300vw;
}
.work-panel-white  > div:nth-child(5) {
  left: 400vw;
}
.work-panel-white  > div:nth-child(6) {
  left: 500vw;
}
.work-panel-white  > div:nth-child(7) {
  left: 600vw;
}
.work-panel-white  > div:nth-child(8) {
  left: 700vw;
}

.panel-white > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #444;
  position:relative;

}
.panel-white > div > div.avatar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border:  1px solid #eee;
  padding: 25px;
  margin-bottom: 2rem;
}
.panel-white > div > div.avatar > div{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-image: url('../img/Faraz_Khan_Avatar.jpg');
  filter: brightness(100%) contrast(74%) grayscale(1);
}

.panel-black {
  background: rgba(0,0,0,0.6);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 20%;
  overflow: hidden;
}

.quote-panel ::before{
  z-index: -1;
  background: url(../img/back2.jpg);
  filter: grayscale(1);
  background-position: center;
  background-size: cover;
  width: 110%;
  height: 110%;
  position: absolute;
  will-change: transform;
  left: -5%;
  top: -5%;
  content: '';
}
.music-panel ::before{
  z-index: -1;
  background: url(../img/music.jpg);
  filter: grayscale(1);
  background-position: center;
  background-size: cover;
  width: 110%;
  height: 110%;
  position: absolute;
  left: -5%;
  top: -5%;
  content: '';
}

.panel-black > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;

}

.black-heading{
  font-size: 4rem;
  letter-spacing: 1rem;
  margin: 0;
  font-size: 4rem;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 1.3rem;
  margin: 0;
  line-height: 64px;
  text-align: center;
  text-transform: uppercase;
  margin-top: -4rem;
  color: #111;
}
.white-heading{
  font-size: 4rem;
  letter-spacing: 1rem;
  margin: 0;
  font-size: 4rem;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 1.3rem;
  margin: 0;
  line-height: 64px;
  text-align: center;
  text-transform: uppercase;
  margin-top: -4rem;
  color: #fff;
}


.tagline{
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.quote{
  font-size: 2.5rem;
  line-height: 3rem;
}
.flex{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-size: 2.6rem;
  color: #111;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 50%;
}
.flex > div > i{
  margin: 10px;
  cursor: pointer;
}




.about{
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.music-bio{
  font-size: 1.4rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.links{
 font-size: 1.5rem;
 color: #eee;
 text-decoration: none;
 cursor: pointer;
 border-bottom: 2px solid transparent;
 transition: all 0.3s ease;
 text-decoration: none;
}

.links:hover{
  color: #fff;
  border-bottom: 2px solid currentColor;
}


.links-underlined{
 font-size: 1.5rem;
 color: #eee;
 border-bottom: 2px solid currentColor;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;

}

.links-underlined:hover{
  color: #fff;
  border-bottom: 2px solid currentColor;
}

.underlined{
  color: #111;
  margin-top: 30px;
  cursor: pointer;
  text-decoration: none;
  padding-bottom: 0;
  font-size: 1.2rem;
  border-bottom: 1px solid currentColor;
}



@media (max-width: 640px) {
  .name{
    font-size: 2rem;
    letter-spacing: 0.7rem;
    line-height: 20px;
  }
  .black-heading, .white-heading{
    font-size: 2rem;
    letter-spacing: 0.7rem;
    line-height: 36px;
  }

  .profession{
    font-size: 16px;
  }

  .panel-white{
    padding: 0 5%;
      border-radius: 10px;
  }
  .panel-white > div > div.avatar{
    height: 170px;
    width: 170px;
    padding: 0px;
  }
  .panel-white > div > div.avatar > div{
    width: 140px;
    height: 140px;
    border-radius: 50%;
  }
  .tagline{
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .about,.music-bio{
    font-size: 16px;
    text-align: center;
    line-height: 26px;
    margin-bottom: 1rem;
  }

  .panel-black{
    padding: 0 5%;
      border-radius: 10px;
  }
  .quote{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .links-underlined{
    font-size: 1rem;
  }
  .underlined{
    font-size: 1rem;
  }
  .panel-hd{
      border-radius: 10px;
  }
  .work-white{
      border-radius: 10px;
  }
  .work-panel-white{
      border-radius: 10px;
  }
}
